<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<connectionStrings>
		<add name="Raven" connectionString="Url = http://raven"/>
		<add name="SecureRaven" connectionString="Url = http://localhost:8080;user=asa;password=asa"/>
	</connectionStrings>
	<log4net>
		<appender name="RavenAppender" type="log4net.Raven.RavenAppender">
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="WARN" />
				<levelMax value="FATAL" />
			</filter>
			<connectionString value="Raven"/>
			<databaseName value="Log" />
			<maxNumberOfRequestsPerSession value="100"/>
			<bufferSize value="1" />
			<lossy value="true"/>
			<evaluator type="log4net.Core.LevelEvaluator">
				<threshold value="ERROR" />
			</evaluator>
		</appender>
		<root>
			<level value="ALL"/>
			<appender-ref ref="RavenAppender" />
		</root>
	</log4net>
</configuration>